{% extends "layout.html" %}
{% block body %}
 <!-- Responsive navbar-->
        
         <!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">{{article.title}}</h1>
                            <hr>
                            <!-- Post meta content-->
                            <div class="text-muted fst-normal mb-2">{{article.author.username}} tarafından {{article.created_date}} tarihinde oluşturuldu.  </div>
                            <!-- Post categories-->
                            <hr>
                        </header>
                        {% if article.image %}
                        <img class="img-fluid rounded" src="{{article.image.url}}" alt="">
                        {% endif %}
                        <!-- Post content-->
                        <section class="mb-5">
                            <p class="fs-5 mb-4">{{article.content|safe}}</p>
                            </section>
                    </article>
                       </div>
                       </div>
            </div>
        </div>
          </div>
            </div>
        </div>
        <h4>Yorumlar {% if comments %}({{comments.count }}){% endif %}</h4>
      <hr>
         {% if comments %}
      {% for comment in comments  %}
        <div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/40x40" alt="">
          <div class="media-body">
            <h5 class="mt-0">{{ comment.author}}</h5>
            {{comment.created_date}} <br>
            {{comment.content}}
          </div>
        </div>
      {% endfor %}
      
      
      {% else %}
      <div class ="alert alert-danger">
        Bu makaleye herhangi bir yorum yazılmamış,ilk yorum yapan siz olun!
      </div>
      {% endif %}

         <div class="card my-4 container"><!--buradan başlayan satırla yorum alanı açıyoruz-->
          <h5 class="card-header">Yorum Ekle:</h5>
          <div class="card-body">
          <form method ="post" action="/article/comment/{{article.id}}">
              {% csrf_token %}
              <div class="form-group">
                  <label for="formGroupExampleInput">İsim</label>
                  <input name = "author" type="text" class="form-control" id="formGroupExampleInput" placeholder="İsminizi girin">
                </div>
            
              <div class="form-group">
                 <label for="formGroupExampleInput">Makale</label>
                
                <textarea name = "content" class="form-control" placeholder="Makalenizi ekleyin" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-danger my-3">Ekle</button>
            </form>
          </div>
        </div>
        </div>
        
      </div>

{% endblock body %}
